/* Base font settings */
:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, 
input, 
button, 
textarea, 
select {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.025em;
}

/* Specific styles */
.site-title {
  letter-spacing: -0.025em;
  font-weight: 600;
}


.prose {
  letter-spacing: -0.01em;
}

.prose strong {
  font-weight: 600;
}

.tag {
  font-weight: 500;
  letter-spacing: -0.01em;
}

/* Existing styles */
.masonry-grid-item {
  width: 315px;
  margin-bottom: 10px;
}

.masonry-grid-hidden {
  display: none;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

