body{
  font-family: Helvetica-neue, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.masonry-grid {
  font-family: Helvetica-neue, Helvetica, sans-serif;
  margin: 0 auto;
  margin-bottom: 10px;
}

.masonry-grid-item {
  width: 305px; /* Example for three columns with 10px gutter */
  margin-bottom: 5px; /* Gutter size */
}

.masonry-grid-hidden {
    display: none;
}

.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: hidden;
    padding: 15px 15px;
    white-space: pre-wrap;
    border-radius: 3px;
}

