body{
  font-family: Helvetica-neue, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.masonry-grid-item {
  width: 305px; /* Default width for larger screens */
}

.masonry-grid-hidden {
  display: none;
}

.profile-picture {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire area without stretching */
  border: 2px solid #fff; /* Optional: adds a white border around the image */
  margin-bottom: 20px; /* Adds some spacing below the image */
}

