<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>suryapolina.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <meta name="description" content="Explore Surya Polina's website about technology and other stuff">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header class="text-center py-5">
        <div class="container mx-auto flex flex-col items-center">
            <h1 class="text-3xl font-bold"><a href="/blog">Surya Polina</a></h1>
            <nav class="mt-4">
                <a href="/about" class="text-blue-800 hover:text-blue-400 mx-2">About</a>
                <a href="/blog" class="text-blue-800 hover:text-blue-400 mx-2">Blog</a>
                <a href="/portfolio" class="text-blue-800 hover:text-blue-400 mx-2">Portfolio</a>
            </nav>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container mx-auto px-4 py-6">
        <div class="grid gap-6 max-w-3xl mx-auto">
            <img class="profile-picture mx-auto" src="/images/self.jpg" alt="Profile Picture"> 
            <!-- About Me Section -->
            <div class="p-4 text-black bg-white border border-blue-300">
                <!-- English Paragraph -->
                <p id="about-text-en" class="text-left"> 
                    Hey! Thanks for clicking. I'm Surya if you couldn't already guess. 
                    I am a web developer. My professional experience is with the enterprise backend development. 
                    But my passion lies is building powerful, aesthetic full stack web applications. 
                    Like any journey we must start at the beginning.
                    The purpose of this website is to market myself and write about topics related to the craft. 
                    Words are generated from my head, fingers.
                    My content is about stuff. 
                    Overtime I expect to narrow down the focus. 
                </p>
                <!-- Spanish Paragraph -->
                <p id="about-text-es" class="text-left hidden"> 
                    춰Hola! Gracias por hacer clic. Soy Surya, si no lo adivinaste ya. 
                    Soy desarrollador web. Mi experiencia profesional reside en el desarrollo de backend empresarial. 
                    Pero mi pasi칩n reside en construir aplicaciones web full stack poderosas y hermosas. 
                    Actualmente tengo un cliente; como cualquier viaje, debemos comenzar desde el principio.
                    El prop칩sito de este sitio web es promocionarme y escribir sobre temas relacionados con el oficio. 
                    Mis escritos son generados por mi cabeza y mis dedos.
                    Es posible que hayas notado que mi contenido es un poco aleatorio 游땕. 
                    Eso es porque me gusta encontrar razones para escribir. Con el tiempo, espero enfocar mejor el contenido. 
                    Continuar칠 haciendo actualizaciones a este sitio web y, con suerte, ganarme un lugar en tus marcadores. Mantente al tanto.
                </p>
                
                <!-- Toggle for more information -->
                <div class="mt-4">
                    <button id="more-info-toggle" class="px-2 py-2 bg-blue-500 text-white w-full text-left">
                        More about me
                    </button>
                    <div id="more-info-section" class="hidden mt-4">
                        <select id="question-select" class="border p-2 w-full mb-4">
                            <option value="">choose question</option>
                        </select>
                        <div id="answer" class="mt-4 text-gray-700"></div>
                    </div>
                </div>
            </div>      
            
            <!-- Toggle Button -->
            <div class="text-center"> <!-- Centering the button -->
                <button id="translate-toggle" class="mt-4 px-2 py-2 bg-blue-500 text-white">
                    Espa침ol
                </button>
            </div>      
            <!-- Contact Section -->
            <div class="text-center">
                <a href="mailto:thesuryapolina@gmail.com" class="text-blue-800 hover:text-blue-700 mr-3">
                    <i class="fas fa-envelope fa-lg"></i>
                </a>
                <a href="https://twitter.com/suryapolina" target="_blank" class="text-blue-800 hover:text-blue-700">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <script>
        let currentLanguage = 'en';
        let selectedQuestion = '';  // To keep track of the selected question

        // Toggle for language translation
        document.getElementById('translate-toggle').addEventListener('click', function() {
            const englishText = document.getElementById('about-text-en');
            const spanishText = document.getElementById('about-text-es');

            if (currentLanguage === 'en') {
                currentLanguage = 'es';
                this.innerText = 'English';
                document.getElementById('more-info-toggle').innerText = 'M치s sobre m칤';
            } else {
                currentLanguage = 'en';
                this.innerText = 'Espa침ol';
                document.getElementById('more-info-toggle').innerText = 'More about me';
            }

            // Update the text visibility
            englishText.classList.toggle('hidden');
            spanishText.classList.toggle('hidden');

            populateQuestions();  // Populate questions in the new language

            // Update selected question and answer if applicable
            if (selectedQuestion) {
                const translatedQuestion = getTranslatedQuestion(selectedQuestion);
                if (translatedQuestion) {
                    document.getElementById('question-select').value = translatedQuestion;
                    document.getElementById('answer').innerText = qa[currentLanguage][translatedQuestion];
                } else {
                    document.getElementById('question-select').value = '';
                    document.getElementById('answer').innerText = '';
                }
            }
        });
        // Toggle for more information section
        document.getElementById('more-info-toggle').addEventListener('click', function() {
            const moreInfoSection = document.getElementById('more-info-section');
            if (moreInfoSection.classList.contains('hidden')) {
                moreInfoSection.classList.remove('hidden');
            } else {
                moreInfoSection.classList.add('hidden');
            }
        });

        const qa = {
            en: {
                "Favorite food?": "Cheeseburger for the salt and Pancakes for the sugar.",
                "What are your hobbies?": "Basketball, Programming, Reading, Movies, and hopefully video making soon (procrastinating).",
                "Favorite movie?": "It's gotta be The Matrix or Toby Maguire's Spiderman out of the sheer nostalgia.",
                "What is the purpose of this website?": "To learn about me and hopefully my work.",
                "Do you have a middle name?": "No but Surya Alexander Polina has a ring",
                "What time is it?": getCurrentCentralTime() + " (Central Time)",
                "Are you married?": "Nope. Dms are open :)",
                "What is your favorite color?": "Olive Green",
                "What is your all-time favorite video game?": "NBA 2K12, Pokemon Diamond",
                "Can you dance?": "Kinda",
                "What's your dream?": "To own a small/midsize software company with an awesome team. Oh and a family.",
                "What's your religion?": "Hinduism",
                "Mornings or Nights?": "Nights",
                "Dogs or cats?": "Dogs",
                "Something you wish you were good at?": "skating",
                "Childhood celebrity crush?": "Hannah Montana",
                "Favorite programming language?": "Java",
                "First phone?": "Ericsson c905",
                "Favorite app?": "SoundCloud",
                "Favorite fruit?": "Pineapppplesss...",
                "Favorite social media?": "Reddit, Bluesky",
                "Favorite song?": "Money Trees by Kendrick Lamar",
                "What was the most recent thing you read?": "Paul Graham's essays",
                "What got you into programming?": "Impulsively deciding to take computer science as my major in college and then actually enjoying the opportunities it presented.",
                "Do you have any pets?": "A cutie shih tzu and an escape artist corn snake.",
                "Fondest memory?": "Moments in India.",
                "What are your current goals?": "Upskill my web development skills, get physically stronger, and stay organized.",
                "What's your biggest fear?": "Wondering where the time went. Addictions. Death...deep",
                "Where do you want to be in 10 years?": "With a family of my own.",
                "Where do you live?": "Dallas, Texas.",
                "Second favorite song?": "Superstar Lupe Fiasco",
                "How bored are you?": "Writing these is nice",
                "Pet peeves?": "Close-mindedness, ignorance, and backseat drivers.",
                "Child idols?": "Kyrie Irving, Lamar Jackson, Lebron James, Spider-man.",
                "Favorite teacher?": "The substitute in second",
            },
            es: {
                "쮺omida favorita?": "Hamburguesa con queso por la sal y panqueques por el az칰car.",
                "쮺u치les son tus pasatiempos?": "Baloncesto, programaci칩n, lectura, pel칤culas y, con suerte, pronto hacer videos (procrastinando).",
                "쯇el칤cula favorita?": "Tiene que ser The Matrix o Spiderman de Toby Maguire por pura nostalgia.",
                "쮺u치l es el prop칩sito de este sitio web?": "Aprender sobre m칤 y, con suerte, mi trabajo.",
                "쯊ienes segundo nombre?": "No. Mi primer nombre fue lo suficientemente bueno.",
                "쯈u칠 hora es?": getCurrentCentralTime() + " (Hora Central)",
                "쮼st치s casado?": "No. Dms est치n abiertos :)",
                "쮺u치l es tu color favorito?": "Verde oliva",
                "쮺u치l es tu videojuego favorito de todos los tiempos?": "NBA 2K12, Pok칠mon Diamante",
                "쯇uedes bailar?": "Atr치pame en el club",
                "쮺u치l es tu sue침o?": "Poseer una peque침a/mediana empresa de software con un equipo incre칤ble. Ah, y una familia.",
                "쯈u칠 puede detener tu sue침o?": "Salud, malas emociones, computadora rota.",
                "쮺u치l es tu religi칩n?": "Hinduismo",
                "쯄a침anas o noches?": "Noches",
                "쯇erros o gatos?": "Perros",
                "쮸lgo en lo que desear칤as ser bueno?": "Andar en patineta",
                "쮺칩mo es que est치s soltero?": "Tengo una serpiente",
                "쮺rush famoso de la infancia?": "Hannah Montana",
                "쯃enguaje de programaci칩n favorito?": "Java",
                "쯇rimer tel칠fono?": "Sony Ericsson C905",
                "쮸pp favorita?": "SoundCloud",
                "쮽ruta favorita?": "Pineapppplesss...",
                "Red social favorita?": "Reddit de lejos",
                "쮺anci칩n favorita?": "Money Trees de Kendrick Lamar",
                "쯈u칠 fue lo m치s reciente que le칤ste?": "Los ensayos de Paul Graham",
                "쯈u칠 te llev칩 a la programaci칩n?": "Decidir impulsivamente tomar ciencias de la computaci칩n como mi carrera universitaria y luego realmente disfrutar las oportunidades que present칩.",
                "쯊ienes mascotas?": "Un lindo shih tzu y una serpiente de ma칤z que es una artista de la fuga.",
                "Recuerdo m치s querido?": "Momentos en India.",
                "쮺u치les son tus metas actuales?": "Mejorar mis habilidades de desarrollo web, fortalecerme f칤sicamente y mantenerme organizado.",
                "쮺u치l es tu mayor miedo?": "Preguntarme a d칩nde se fue el tiempo. Adicciones. Muerte... profundo",
                "쮻칩nde quieres estar en 10 a침os?": "Con una familia propia.",
                "쮻칩nde vives?": "Dallas, Texas.",
                "쯉egunda canci칩n favorita?": "Superstar de Lupe Fiasco",
                "쯈u칠 tan aburrido est치s?": "Escribir esto es divertido.",
                "쮺osas que te molestan?": "La mentalidad cerrada, la ignorancia y los malditos conductores traseros.",
                "칈dolos de la infancia?": "Kyrie Irving. Por c칩mo se comporta.",
                "쯄aestro favorito?": "El sustituto a largo plazo en segundo grado.",
            }
        };

        // Populate the dropdown with questions based on the current language
        function populateQuestions() {
            const questionSelect = document.getElementById('question-select');
            questionSelect.innerHTML = ''; // Clear existing options

            // Set the default "Select question" option based on the current language
            const defaultOption = document.createElement('option');
            defaultOption.value = "";
            defaultOption.textContent = currentLanguage === 'en' ? 'choose question' : 'elige una pregunta';
            questionSelect.appendChild(defaultOption);

            // Populate the dropdown with questions
            for (const question in qa[currentLanguage]) {
                const option = document.createElement('option');
                option.value = question;
                option.textContent = question;
                questionSelect.appendChild(option);
            }
        }

        // Get the translated question if it exists in the new language
        function getTranslatedQuestion(question) {
            const otherLanguage = currentLanguage === 'en' ? 'es' : 'en';
            for (const q in qa[otherLanguage]) {
                if (qa[otherLanguage][q] === qa[currentLanguage][question]) {
                    return q;
                }
            }
            return null;
        }

        // Handle dropdown selection
        document.getElementById('question-select').addEventListener('change', function() {
            selectedQuestion = this.value;
            const answer = qa[currentLanguage][selectedQuestion] || "Sorry, I don't have an answer to that question.";
            document.getElementById('answer').innerText = answer;
        });

        // Initial population of questions
        populateQuestions();


        function getCurrentCentralTime() {
            const centralTimeZone = 'America/Chicago';
            const centralTime = new Intl.DateTimeFormat('en-US', {
                timeZone: centralTimeZone,
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false,
            }).format(new Date());

            return centralTime;
        }
    </script>
    
</body>

</html>