<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>suryapolina.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <meta name="description" content="Explore Surya Polina's website on technology, finance, and personal growth.">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>

<body class="bg-gray-100">
    <!-- Header -->
    <div class="flex flex-col min-h-screen">
        <header class="text-center py-5">
            <div class="container mx-auto flex flex-col items-center">
                <div class="flex flex-col items-center">
                    <h1 class="text-3xl font-bold"><a href="/home">Surya Polina</a></h1>
                </div>
                <nav class="mt-4">
                    <a href="/home" class="text-blue-800 hover:text-blue-400 mx-2">Home</a>
                    <a href="/blog" class="text-blue-800 hover:text-blue-400 mx-2">Blog</a>
                    <a href="/portfolio" class="text-blue-800 hover:text-blue-400 mx-2">Portfolio</a>
                </nav>
            </div>
        </header>
        <!-- Main Content -->
        <div class="container mx-auto px-4 py-8 flex-grow">
            <div class="grid gap-6 max-w-3xl mx-auto">
                <img class="profile-picture mx-auto" src="/images/self.jpg" alt="Profile Picture"> 
                <!-- About Me Section -->
                <div>
                    <h2 class="text-lg font-bold text-center">About</h2>
                    <p> Hey I'm Surya. I am an aspiring web developer. My current level of experience resides in the enterprise backend development. 
                        However my passion lies in building powerful, beautiful web applications and web sites. 
                        Currently I have one client, and like any journey we start at the beginning 
                        The purpose of this website is to market myself by writing about topics pertaining to the craft, 
                        plus some other stuff to give you an idea of who I am. My writings are only generated from my keys.
                        As you may notice my content is pretty random. Overtime I hope to narrow it's focus. 
                </div>            
                <!-- Contact Section -->
                <div class="text-center">
                    <a href="mailto:thesuryapolina@gmail.com" class="text-blue-800 hover:text-blue-700 mr-3">
                        <i class="fas fa-envelope fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/suryapolina" target="_blank" class="text-blue-800 hover:text-blue-700">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>