<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>suryapolina.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <meta name="description" content="Explore Surya Polina's website about technology, finance, and stuff">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header class="text-center py-5">
        <div class="container mx-auto flex flex-col items-center">
            <h1 class="text-3xl font-bold"><a href="/blog">Surya Polina</a></h1>
            <nav class="mt-4">
                <a href="/home" class="text-blue-800 hover:text-blue-400 mx-2">Home</a>
                <a href="/blog" class="text-blue-800 hover:text-blue-400 mx-2">Blog</a>
                <a href="/portfolio" class="text-blue-800 hover:text-blue-400 mx-2">Portfolio</a>
            </nav>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container mx-auto px-4 py-6">
        <div class="grid gap-6 max-w-3xl mx-auto">
            <img class="profile-picture mx-auto" src="/images/self.jpg" alt="Profile Picture"> 
            <!-- About Me Section -->
            <div>
                <h2 class="text-lg font-bold text-center">About</h2>
                <!-- English Paragraph -->
                <p id="about-text-en" class="text-center"> 
                    Hey! Thanks for clicking. I'm Surya if you couldn't already guess. 
                    I am a web developer. My professional experience resides in the enterprise backend development. 
                    But my passion lies in building powerful, beautiful full stack web applications. 
                    Presently I have one client; like any journey we must start at the beginning.
                    The purpose of this website is to market myself and write about topics related to the craft. 
                    My writings are generated from my head and fingers.
                    You might have noticed my content is kind of random 😊. 
                    That's because I like to find reasons to write. Overtime I hope to narrow down its focus. 
                    I will continue to make updates to this website and hopefully earn a spot in your bookmarks. Stay tuned.
                </p>
                <!-- Spanish Paragraph -->
                <p id="about-text-es" class="text-center hidden"> 
                    ¡Hola! Gracias por hacer clic. Soy Surya, si no lo adivinaste ya. 
                    Soy desarrollador web. Mi experiencia profesional reside en el desarrollo de backend empresarial. 
                    Pero mi pasión reside en construir aplicaciones web full stack poderosas y hermosas. 
                    Actualmente tengo un cliente; como cualquier viaje, debemos comenzar desde el principio.
                    El propósito de este sitio web es promocionarme y escribir sobre temas relacionados con el oficio. 
                    Mis escritos son generados por mi cabeza y mis dedos.
                    Es posible que hayas notado que mi contenido es un poco aleatorio 😊. 
                    Eso es porque me gusta encontrar razones para escribir. Con el tiempo, espero enfocar mejor el contenido. 
                    Continuaré haciendo actualizaciones a este sitio web y, con suerte, ganarme un lugar en tus marcadores. Mantente al tanto.
                </p>
                <!-- Toggle Button -->
                <div class="text-center"> <!-- Centering the button -->
                    <button id="translate-toggle" class="mt-4 px-2 py-2 bg-blue-500 text-white">
                        Español
                    </button>
                </div>
            </div>            
            <!-- Contact Section -->
            <div class="text-center">
                <a href="mailto:thesuryapolina@gmail.com" class="text-blue-800 hover:text-blue-700 mr-3">
                    <i class="fas fa-envelope fa-lg"></i>
                </a>
                <a href="https://twitter.com/suryapolina" target="_blank" class="text-blue-800 hover:text-blue-700">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('translate-toggle').addEventListener('click', function() {
            const englishText = document.getElementById('about-text-en');
            const spanishText = document.getElementById('about-text-es');

            if (englishText.classList.contains('hidden')) {
                englishText.classList.remove('hidden');
                spanishText.classList.add('hidden');
                this.innerText = 'Español';
            } else {
                englishText.classList.add('hidden');
                spanishText.classList.remove('hidden');
                this.innerText = 'English';
            }
        });
    </script>
    
</body>

</html>