<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>suryapolina.com</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>
    <div class="flex flex-col min-h-screen">
        <header class="text-center py-5">
            <div class="flex flex-col items-center">
                <h1 class="text-3xl font-bold"><a href="/home">Surya Polina</a></h1>
            </div>
            <nav class="mt-4">
                <a href="/home" class="text-blue-800 hover:text-blue-700 mx-2">Home</a>
                <a href="/blog" class="text-blue-800 hover:text-blue-700 mx-2">Blog</a>
                <a href="/portfolio" class="text-blue-800 hover:text-blue-700 mx-2">Portfolio</a>
            </nav>
        </header>
        <div class="container mx-auto px-4 py-8 flex-grow">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <!-- Placeholder for portfolio items -->
                <% for(let i = 1; i <= 1; i++) { %>
                    <a href="/home" class="no-underline text-black">
                        <div class="bg-white shadow-lg hover:bg-blue-100 overflow-hidden p-2 max-w-xs mx-auto">
                            <img src="images/favicon.ico" alt="Project <%= i %>" class="w-40 h-40 object-cover mx-auto">
                            <div class="p-2 text-left">
                                <h2 class="font-semibold text-sm">Personal Website</h2>
                                <a href="https://suryapolina.com" class="text-blue-600 hover:text-blue-800 text-xs">suryapolina.com</a>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
        

        <!-- Footer --->
        <footer class="mt-auto" style="background-color: #fcfcfc;">
            <div class="text-center py-5">
                <p>&copy; <span id="year"></span> Surya Polina</p>
            </div>
        </footer>
    </div>
    <script>
        // Script to automatically update the year
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
