<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>suryapolina.com</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>

<body>
    <div>
        <header class="text-center py-6">
            <h1 class="text-3xl font-bold mt-5 hover:text-purple-800"><a href="/blog">Surya Polina</a></h1>
            <nav class="mt-4">
                <a href="/about" class="text-blue-600 hover:text-purple-800 mx-2">About</a>
                <a href="/blog" class="text-blue-600 hover:text-purple-800 mx-2">Blog</a>
                <a href="/portfolio" class="text-blue-600 hover:text-purple-800 mx-2">Portfolio</a>
            </nav>
        </header>
        <div class="container mx-auto px-4 py-8">
            <div class="grid grid-cols-1 gap-4">
                <!-- Portfolio items -->
                <a href="https://suryapolina.com" class="no-underline text-black flex items-center bg-white hover:bg-purple-100 overflow-hidden w-full max-w-md mx-auto rounded-3xl">
                    <img src="images/favicon.ico" alt="Project 1" class="w-36 h-36 object-cover flex-shrink-0">
                    <div class="ml-4">
                        <h2 class="font-semibold text-lg">Personal Website</h2>
                        <p class="text-blue-600 hover:text-blue-800 text-sm">suryapolina.com</p>
                    </div>
                </a>
                <a href="https://southernrentalcars.com" class="no-underline text-black flex items-center bg-white hover:bg-purple-100 overflow-hidden w-full max-w-md mx-auto rounded-3xl">
                    <img src="images/southernrentalcars.jpg" alt="Project 2" class="w-36 h-36 object-cover flex-shrink-0">
                    <div class="ml-4">
                        <h2 class="font-semibold text-lg">Southern Rental Cars</h2>
                        <p class="text-blue-600 hover:text-blue-800 text-sm">southernrentalcars.com</p>
                    </div>
                </a>
                <a href="https://suryapolina.com/story-board/" class="no-underline text-black flex items-center bg-white hover:bg-purple-100 overflow-hidden w-full max-w-md mx-auto rounded-3xl">
                    <img src="images/freekanban.jpg" alt="Project 3" class="w-36 h-36 object-cover flex-shrink-0">
                    <div class="ml-4">
                        <h2 class="font-semibold text-lg">Free Kanban</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>