<!DOCTYPE html>
<html lang="en">
<head>
    <title>suryapolina.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS from CDN for styling -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>

<body class="bg-gray-200">
  <div class="flex flex-col min-h-screen">
  <!-- Header -->
    <header class="text-center py-5">
        <div class="flex flex-col items-center">
            <h1 class="text-3xl font-bold"><a href="/blog">Surya Polina</a></h1>
        </div>
        <nav class="mt-4">
            <a href="/blog" class="text-blue-800 hover:text-blue-700 mx-2">Blog</a>
            <a href="/gallery" class="text-blue-800 hover:text-blue-700 mx-2">Gallery</a>
            <a href="/portfolio" class="text-blue-800 hover:text-blue-700 mx-2">Portfolio</a>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="flex-1">
      <div class="container mx-auto px-4">
        <article class="bg-white shadow-md overflow-hidden max-w-4xl mx-auto mt-4 mb-12"> <!-- Increased bottom margin -->
          <h1 class="text-3xl font-bold text-center my-4"><%= post.title %></h1>
          <p class="text-gray-500 text-center mb-1">
            <%= new Date(post.date_created).toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }) %>
          </p> <!-- Date will be displayed in "12 January 2024" style -->

          <div class="prose lg:prose-xl p-4">
            <%- post.text %> <!-- Post content -->
          </div>
        </article>
      </div>
    </main>
  <!----Footer---->
  <footer class="mt-auto bg-indigo-100">
        <div class="text-center py-5">
            <div class="flex justify-center space-x-4 mb-4"> <!-- Adjust the space-x-* and mb-* to your liking -->
                <a href="mailto:thesuryapolina@gmail.com" class="text-gray-600 hover:text-black">
                    <i class="fas fa-envelope fa-lg"></i>
                </a>
                <a href="https://github.com/surpol" target="_blank" class="text-gray-600 hover:text-black">
                    <i class="fab fa-github fa-lg"></i>
                </a>
                <a href="https://twitter.com/suryapolina" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="https://instagram.com/surya_polina" target="_blank" class="text-pink-600 hover:text-pink-700">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
            </div>
            <p>All rights reserved. &copy; Surya Polina</p>
        </div>
    </footer>
  </div>
</body>
</html>
