* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
}

/* Login */

.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

/* Home */ 
header, footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}
nav {
    margin-bottom: 20px;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
footer {
    font-size: 0.8em;
} 

.button {
    display: inline-block; /* Allows width and height */
    padding: 10px 15px; /* Padding for size */
    margin-bottom: 10px; /* Margin for spacing */
    background-color: #3274d6; /* Background color */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from anchor */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #2868c7; /* Darker shade on hover */
}
/* Editor */

#editor {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 200px;
}


/* Inputs and Button Styling */
#postForm input[type="text"],
#postForm input[type="file"],
#postForm input[type="date"],
#postForm button[type="submit"] {
    padding: 10px; /* Padding for better appearance */
    margin-bottom: 10px; /* Margin bottom for spacing */
    border: 1px solid #ccc; /* Uniform border */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Border-box for padding and border inclusion in width */
}

#postForm button[type="submit"] {
    background-color: #3274d6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 150px;
}

#postForm button[type="submit"]:hover {
    background-color: #2868c7;
}

/* Additional styles for uniform appearance */
#postForm label {
    display: block; /* Make labels block elements */
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; /* Make labels bold */
}

#editor-container {
    height: 200px; /* Set a fixed height for the editor */
    margin-bottom: 10px; /* Consistent margin-bottom */
}

/* Ensure inputs do not exceed the form width on smaller screens */
@media (max-width: 767px) {
    #postForm input[type="text"],
    #postForm input[type="file"],
    #postForm input[type="date"],
    #postForm button[type="submit"] {
        width: calc(100% - 20px); /* Adjust width for mobile, considering padding */
    }
}